* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Rubik", sans-serif;
        border-radius: 10px;
      }
      .calculator_container {
        width: 400px;
        margin: 50px auto;
        
      }
      .container {
        width: 100%;
        height: 400px;
        border: 1px solid black;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 23%);
        justify-content: center;
        padding: 10px;
        font-size: 18px;
        gap: 10px;
        
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(158, 125, 91);
        font-weight: bold;
        border-radius: 10px;
      }

      .btn:hover {
        background-color: rgb(167, 139, 103);
        cursor: pointer;
      }

      .screen {
        width: 100%;
        height: 100px;
        border: 1px solid black;
        border-bottom: none;
        display: flex;
        padding: 10px;
        justify-content: space-between;
      }

      .operation {
        width: 77%;
        overflow: hidden;
        overflow-x: scroll;
        /* border-right: 1px solid black; */
        height: 100%;
        background-color: rgb(146, 170, 191);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
        font-size: 30px;
      }

      .operation::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }

      .result {
        padding: 20px;
        width: 23%;
        height: 100%;
        background-color: rgba(63, 32, 32, 0.836);
        color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        /* overflow: hidden; */
        /* overflow-x: scroll; */
      }

      .result::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }

      .calculator_history{
        width: 500px;
        height: 500px;
        border: solid;
        position: absolute;
        left: 1300px;
        top: 50px;
      }